.project-item {
  padding: 2rem 1rem 0.5rem 1rem;
}

.project-item_title__container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.project-item_title__back:hover {
  transform: scale(1.1);
}

.project-item_description {
  margin: 0;
  margin-bottom: 1rem;
}
/* 
.project-item_images {
  display: flex;
  justify-content: center;
} */

.project-item_images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  justify-content: center;
}

.project-item_images__list {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.project-item_main-image {
  margin: 0 auto;
  height: 60vh;
  object-fit: cover;
  width: 100%;
  margin-bottom: 0.5rem;
}

.project-item_images__item-image {
  /* height: calc(100% - 0.5rem); */
  width: 20%;
}

.project-item_images__item-image__border {
  box-sizing: border-box;
  border: 2px solid whitesmoke;
  /* transition: border 0.5s ease; */
}

/* .project-item_images__item-image__border:hover {
  border: 2px solid white;
} */

/* @keyframes project-item_images__item-image__border {
  from {
    border-color: transparent;
  }
  to {
    border-color: white;
  }
} */

.project-item_authors {
  margin-top: 1rem;
  margin-left: 1rem;
}

.project-item_authors__header {
  margin-bottom: 0.5rem;
  font-size: 14px;
}
