.project-item {
}

.project-item_information {
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-item_title__container {
  padding: 0.5rem;
  background-color: #ffffffa8;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.project-item_title__back:hover {
  transform: scale(1.1);
}

.project-item_description {
  margin: 0;
  margin-bottom: 1rem;
}

.project-item_images {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffffa8;
  backdrop-filter: blur(10px);
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;

  transition: transform 0.5s ease-in-out;
  transform: translateX(-50%);
}


.project-item_images__list {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.project-item_main-image {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
  width: 100%;
  margin-bottom: 0.5rem;
  transition: background-image 1s ease;
}

.project-item_images__item-image {
  width: 120px;
}

.project-item_images__item-image__border {
  -webkit-box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.8);
}

.project-item_title__color {
  color: #242424;
}

.project-item_authors {
  margin-top: 1rem;
  margin-left: 1rem;
}

.project-item_authors__header {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

@media (max-width: 480px) {
  .project-item_main-image {
    background-attachment:local;
  }}