.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.form__input {
  width: 300px;
  height: 30px;
}

.form__button {
  width: 100px;
  height: 30px;
  background-color: #ffffffe0;
  border: none;
  border-radius: 0.1rem;
  color: #1b1a1ae8;
}
