.contacts {
  height: 300px;
  width: 100%;
  color: #ffff;
}

.contacts_container {
  height: 100%;
  margin: 2rem 0 1rem 1rem;
}

.contacts_data {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts_address {
}

.contacts_item {
}

.contacts_text {
  font-size: 14px;
  line-height: 2;
}

.contacts_text__italic {
  font-style: italic;
}

.contacts_footer {
  margin-right: 4rem;
  margin-left: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts_footer__text {
  font-size: 12px;
}

@media (max-width: 480px) {
  .contacts_data {
    margin: 0 0.5rem 0 0.5rem;
    flex-direction: column;
  }

  .contacts_container {
    height: 100%;
    margin: 2rem 1rem 0 1rem;
  }

  .contacts_footer__icon {
    display: none;
  }

  .contacts_footer {
    margin-right: 0;
    margin-left: 0;
  }
}
