.card {
  box-shadow: 5px 5px 5px 0px #00000056;
  height: calc(100% - 0.5rem);
  min-width: 320px;
  position: relative;
  border-radius: 0.5rem;
}

.card:hover {
  background-size: 100%;
}

.card_delete {
  width: 15px;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.card_delete:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card_title__box {
  height: 3rem;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: rgba(30, 29, 27, 0.785);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.card_title__text {
  font-size: 1rem;
  color: white;
}

@media (max-width: 480px) {
  .card {
    min-width: 95%;
    position: relative;
  }
}
