.app {
  position: relative;
}

.app_navbar {
  background-color: #242424;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.tag_container {
  flex: 80px 0 0;
}

.tag__font {
  font-weight: 400;
  font-size: 2rem;
}
